.App {
  text-align: center;
  margin: 0;
  padding: 0;
  background: aliceblue;
  width: 100vw;
  height: 100vh;
}

.TableData {
  border: lightgray 1px solid;
  border-radius: 2px;
  margin: auto;
  max-width: 90%;
}

.TableData td {
  background: white;
  height: 40px;
}

input {
  width: 140px;
}
